@import "../vars";

$map: (
  "primary": $colorPrimary,
  "warning": $colorWarning,
  "danger": $colorDanger,
  "info": $colorInfo,
);

@mixin generateColorClasses() {
  @each $type, $color in $map {
    .color-text-#{$type} {
      color: $color !important;
    },
    .color-bg-#{$type} {
      background-color: $color !important;
    }
  }
}