@import "../vars";

@mixin overrideDialogStyle() {
  .el-dialog {
    .el-dialog__header {
      @extend hr;
      padding: 15px 20px;
      .el-dialog__title {
        font-weight: bold;
      }
    }
    .el-dialog__body {
      @extend hr;
    }
    .el-dialog__footer {
      padding-bottom: 10px;
    }
  }
}

@mixin overrideTabsStyles() {
  .el-tabs__header {
    padding: 0 $paddingHorizontalTopPanel !important;
    background-color: $colorTopPanel;
    margin: 0;
  }
}

@mixin overrideDataTablesStyles() {
  .el-table__body-wrapper {
    tbody > tr > td:first-child {
      padding-left: 15px;
    }
  }
  .el-table__header-wrapper {
    thead > tr > th {
      background-color: $colorTableHeader;
      color: $colorTableHeaderText;
    }

    thead > tr > th:first-child {
      padding-left: 15px;
    }
  }
  .el-pagination {
    justify-content: flex-end;
    display: flex;
    button.btn-prev {
      order: 1
    }

    .el-pager {
      order: 2
    }

    button.btn-next {
      order: 3
    }

    .el-pagination__jump {
      order: 4
    }

    .el-pagination__sizes {
      order: 5
    }

    .el-pagination__total {
      order: 0;
      flex: 1;
      text-align: left;
      margin-left: 10px;
    }
  }

  a i {
    color: $colorTextRegular;
    font-size: $fontSizeLarger;
  }
}