.sc-table .el-pagination {
  display: flex;
  justify-content: flex-end;

  button.btn-prev {
    order: 1
  }

  .el-pager {
    order: 2
  }

  button.btn-next {
    order: 3
  }

  .el-pagination__jump {
    order: 4
  }

  .el-pagination__sizes {
    order: 5
  }

  .el-pagination__total {
    order: 0;
    flex: 1;
    text-align: left;
  }
}