{
  "presets": [
    [
      "env",
      {
        "modules": false
    }],
    "stage-2"
  ],
  "plugins": [
    "transform-vue-jsx",
    "transform-runtime",
    "transform-decorators-legacy",
    [
      "component",
      {
        "libraryName": "element-ui",
        "styleLibraryName": "~src/design/theme"
      }
    ]
  ]
}
