<v-card class="elevation-12">
    <v-toolbar dark color="primary">
        <v-btn
            color="darken-2"
            @click="goToBack"
            dark
            icon
        >
            <v-icon dark>arrow_back</v-icon>
        </v-btn>
        <v-toolbar-title>Todo list</v-toolbar-title>
        <v-spacer />
    </v-toolbar>
    <v-list two-line>
        <v-list-tile avatar v-for="(todo, i) in todos" :key="todo.name" @click="">
            <v-list-tile-action>
                <v-icon v-if="todo.completed" color="pink">star</v-icon>
                <v-icon v-else="todo.completed" color="pink">star_border</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
                <v-list-tile-title v-text="todo.name"></v-list-tile-title>
            </v-list-tile-content>
        </v-list-tile>
    </v-list>
</v-card>