/* theme color */
$--color-primary: #2b92e9;

/* icon font path, required */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";

/* App colors */
$colorPrimary: $--color-primary;
$colorWarning: $--color-warning;
$colorInfo: $--color-info;
$colorDanger: $--color-danger;
$colorHoverPrimary: $--color-primary-light-9;
$colorFocusPrimary: $--color-primary-light-7;

$colorAppHeader: white;
$colorAppFooter: #ecedf0;
$colorAppNav: #1d2027;
$colorAppNavActive: #585b61;
$colorAppNavHover: #393c43;
$colorPageTitle: #15171c;
$colorTableHeader: #ddd;
$colorTextRegular: $--color-text-regular;
$colorTopPanel: #ecedf0;
$colorTableHeaderText: #15171c;

$borderColorLighter: $--border-color-lighter;
$paddingHorizontalTopPanel: 25px;

/* App sizes */
$headerHeight: 60px;
$avatarHeight: 30px;
$heightFooter: 60px;

$widthMenuItemIcon: 64px;

/* Font sizes*/
$fontSizeBase: $--font-size-base;
$fontSizeSmall: $--font-size-small;
$fontSizeLarge: $--font-size-large;
$fontSizeLarger: 22px;
$fontSizePageTitle: 36px;


:export {
  colorPrimary: $colorPrimary;
  colorAppHeader: $colorAppHeader;
  colorAppNav: $colorAppNav;
}