/* theme color */
$--color-primary: #38c3d7;

/* icon font path, required */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";

/* App colors */
$colorPrimary: $--color-primary;
$colorWarning: $--color-warning;
$colorInfo: $--color-info;
$colorDanger: $--color-danger;
$colorHoverPrimary: $--color-primary-light-9;
$colorFocusPrimary: $--color-primary-light-7;

$colorAppHeader: #395d81;
$colorPageTitle: $colorAppHeader;
$colorTextRegular: $--color-text-regular;
$borderColorLighter: $--border-color-lighter;

/* App sizes */
$headerHeight: 60px;
$footerHeight: 0px;
$avatarHeight: 30px;

$widthMenuItemIcon: 64px;

/* Font sizes*/
$fontSizeBase: $--font-size-base;
$fontSizeSmall: $--font-size-small;
$fontSizeLarge: $--font-size-large;
$fontSizeLarger: 22px;
$fontSizePageTitle: 36px;


:export {
  colorPrimary: $colorPrimary;
  colorAppHeader: $colorAppHeader;
}