@import "vars";
@import "mixins/colors";
@import "mixins/grid";
@import "mixins/overrides";

body {
  background-color: #edeff0;
  margin: 0;
}

html {
  font-family: Roboto;
}

a {
  color: $colorPrimary;
  text-decoration: none;
}

hr {
  border-style: hidden;
  border-bottom: 1px solid $borderColorLighter;
}

@include generateColorClasses();
@include overrideDialogStyle();
@include generateIntervalClasses();

.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 100%;
}

.tooltip-icon {
  color: $colorInfo
}
